@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');


*{
    font-family: 'Patua One', cursive;
}

body{
    margin:0 0 0 0;
    background: linear-gradient(rgba(162, 230, 235, 0.5), rgba(162, 230, 235, 0.5)), url("https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png");

}

hr{
    width: 90%;
    border: 2px solid turquoise;
}

#sidenav {
    height: 100%;
    width: 300px; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: cadetblue; 
    overflow-x: hidden; 
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 100%;
  }


#sideheadtop{
    color: black;
    font-size: 35px;
    margin-top: 2px;
    margin-bottom: 10px;
}

#sideheadbtm{
    color: black;
    font-size: 35px;
    margin-top: 10px;
}

.nameentry{
    margin-top: 75px;
}

#nameinput{
    width:85%;
    height:40px;
    font-size: 25px;
    border: 2px solid turquoise;
    border-radius: 8px;
}

.main-container,#submit-container,#score{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-container{
    margin-left: 300px;
    height: 100%;
}

.left-btn-span,#questions,.right-btn-span{

    margin-top: 150px;
    height: 100%;
}


#start-window{
    margin-top: 120px;
    font-size: 30px;
    width:80%;
    border:3px solid turquoise;
    border-radius: 10px;
    padding: 40px 40px 40px 40px;
    background-color: cadetblue;

}

#start-btn{
    font-size: 35px;
    background-color: cadetblue;
    border:2px solid turquoise;
    margin-top: 35px;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px 10px 20px;


}

#submit{
    font-size: 30px;
    background-color: cadetblue;
    border:2px solid turquoise;
    margin-top: 25px;
    border-radius: 10px;
    cursor: pointer;
    padding: 20px 20px 20px 20px;
}

#questions{
    width:60%;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 30px;
    border:3px solid turquoise;
    border-radius: 10px;
    padding: 40px 40px 40px 40px;
    background-color: cadetblue;
}

.qtext{
    margin-bottom: 40px;
}

#left-btn,#right-btn{
    display:inline-block;
    font-size: 40px;
    background-color: cadetblue;
    border: 2px solid turquoise;
    cursor: pointer;

}

.option{
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

#qimg{
    width: 300px;
}

#scorebox{
    width: 65%;
    margin-top: 30px;
    font-size: 40px;
    border: 2px solid turquoise;
    padding: 0px 40px 40px 40px;
    border-radius: 10px;
    background-color: cadetblue;
}

#score{
    /* margin-top: 25px; */
    font-size: 50px;
}

#restart{
    font-size: 30px;
    background-color: cadetblue;
    border:2px solid turquoise;
    margin-top: 75px;
    border-radius: 10px;
    cursor: pointer;
    padding: 20px 20px 20px 20px;
}

#start-btn:hover,#submit:hover,#restart:hover,#left-btn:hover,#right-btn:hover{
    background-color: rgba(82, 138, 139, 0.74);
}

#navcontainer{
    margin-top: 10px;
}

#row1,#row2{
    font-size: 50px;
    margin:auto;
    margin-top:0px;
    margin-right:3px;
}

.navbox{
    border:1px solid black;
    display: inline-block;
    width:50px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    
}

#timer{
    margin-top:15px;
    font-size: 50px;
    color: springgreen;
}

.datespan{
    color: rgb(83, 83, 83);
    font-size: 35px;
}

